@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 919px;
  background:   linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(3, 102, 168) 150%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width: 480px) and (max-width: 1249px) {
  body {
    height: 832px;
  }
}
@media screen and (min-width: 414px){
body{
  height: 1000px;
}
}

